<div class="container">

    <div class="row">

        <div class="col-lg-6 col-md-6 col-sm-6">

            <p> Salut <b> <%= @name %> </b> comment ça va ? <%= 1 + 1 %> </p> 
            <%# Je récupère directement le paramètre/variable depuis le controller dans ma vue et je peux l'afficher en Ruby %>

            <%# params.inspect %> 

        </div>

    </div>

</div>